{% extends 'base.html' %}

{% block header %}
    <h1>{{details['header'] if details else "Home"}}</h1>
{% endblock %}

{% block content %}
    {% if details %}
        <a href="/?page-location={{details['prev_path']}}">../</a>
        <h2>Files</h2>
            {% for files in details['file_name'] %}
                <a href="/?page-location={{details['prev_path']}}/{{files}}">{{files}}</a>
                <br>
            {% endfor %}
        <h2>Directories</h2>
            {% for files in details['dir_names']  if details %}
                <a href="/?page-location={{details['prev_path']}}/{{files}}">{{files}}</a>
                <br>
            {% endfor %}
    {% endif %}
{% endblock %}